In [27]:
import numpy as np
import pandas as pd

In [28]:
df = pd.read_csv('data/서울시 지하철 호선별 역별 시간대별 승하차 인원 정보.csv', encoding='euc-kr')
df.head()

,사용월,호선명,지하철역,04시-05시 승차인원,04시-05시 하차인원,05시-06시 승차인원,05시-06시 하차인원,06시-07시 승차인원,06시-07시 하차인원,07시-08시 승차인원,...,23시-24시 하차인원,00시-01시 승차인원,00시-01시 하차인원,01시-02시 승차인원,01시-02시 하차인원,02시-03시 승차인원,02시-03시 하차인원,03시-04시 승차인원,03시-04시 하차인원,작업일자
0,202304,1호선,동대문,749,13,10603,2210,9478,6645,14847,...,8762,524,2480,1,186,0,0,0,0,20230503
1,202304,1호선,동묘앞,204,3,2738,993,3544,4933,7427,...,3998,89,1634,2,295,0,0,0,0,20230503
2,202304,1호선,서울역,673,28,7682,8982,13316,56520,42256,...,13801,2424,2423,0,179,0,0,0,0,20230503
3,202304,1호선,시청,135,5,2141,4360,3966,24036,7878,...,4147,345,923,0,14,0,0,0,0,20230503
4,202304,1호선,신설동,409,5,8266,2287,9839,8406,21340,...,9184,395,1967,0,0,1,1,0,0,20230503

In [29]:
df.isna().sum().sum()

0

In [30]:
# 인천 방향 추가? 아님 따로?
df1 = df.copy()
df2 = df[df['호선명']=='경부선'].copy()
df3 = df[df['호선명']=='경원선'].copy()
df_list = { '1호선': df1, '경부선': df2, '경원선': df3}
for line, frame in df_list.items():
    frame = df[df['호선명']==line].copy()
    frame = frame[['사용월','호선명','지하철역', 
                '06시-07시 승차인원','07시-08시 승차인원','08시-09시 승차인원', 
                '17시-18시 승차인원','18시-19시 승차인원','19시-20시 승차인원', 
                '06시-07시 하차인원','07시-08시 하차인원','08시-09시 하차인원', 
                '17시-18시 하차인원','18시-19시 하차인원','19시-20시 하차인원']].copy()
    frame['출근시간 승차인원'] = frame.iloc[:,3:6].sum(axis=1)
    frame['퇴근시간 승차인원'] = frame.iloc[:,6:9].sum(axis=1)
    frame['출근시간 하차인원'] = frame.iloc[:,9:12].sum(axis=1)
    frame['퇴근시간 하차인원'] = frame.iloc[:,12:15].sum(axis=1)
    frame = frame[['사용월', '호선명', '지하철역', '출근시간 승차인원', '출근시간 하차인원', '퇴근시간 승차인원', '퇴근시간 하차인원']]
    frame.to_csv(f'data/{line}.csv',index=False,encoding='utf-8')

In [31]:
df_test1 = pd.read_csv('data/1호선.csv')
df_test2 = pd.read_csv('data/경부선.csv')

In [37]:
dg = df_test1.groupby(['사용월','지하철역'])[['출근시간 승차인원', '출근시간 하차인원', '퇴근시간 승차인원', '퇴근시간 하차인원']].mean()
dg.tail(15)

                     출근시간 승차인원  출근시간 하차인원  퇴근시간 승차인원  퇴근시간 하차인원
사용월    지하철역
202303 제기동             68022.0    69626.0   113550.0    81836.0
       종각              22024.0   428980.0   493870.0   130405.0
       종로3가            19148.0   115887.0   269538.0   113714.0
       종로5가            20308.0   165785.0   258963.0    96073.0
       청량리(서울시립대입구)   106805.0    80178.0   129055.0   129717.0
202304 동대문             44094.0    41009.0    69531.0    63118.0
       동묘앞             22187.0    37540.0    70599.0    35355.0
       서울역            127270.0   390406.0   500389.0   253706.0
       시청              22120.0   288474.0   317135.0    69067.0
       신설동             62708.0    87736.0   111225.0    76614.0
       제기동             65019.0    67338.0   104774.0    75169.0
       종각              22100.0   388820.0   456204.0   118043.0
       종로3가            19540.0   107616.0   246958.0   106435.0
       종로5가            20030.0   154045.0   239155.0    90856.0
       청량리(서울시립대입구)   102064.0    76473.0   119810.0   121877.0