In [11]:
print('Hello, world!')
print('Hello, world!')

Hello, world!
Hello, world!

In [21]:
c = None
print(c)

None

In [24]:
a,b,c,d = map(int,input('').split())
print(int((a+b+c+d)/4))

2

In [25]:
print(3.1, 'Python', 100)

3.1 Python 100

In [26]:
print(16, 9, sep=':')

16:9

In [28]:
print('Hello\nPython')

Hello
Python

In [47]:
year, month, day, hour, minute, second = input().split()
day = [year, month, day]
date = ''
for i in range(3):
    date += '-' * i + day[i]
print(date)
print(hour, minute, second, sep=':')
# 2023 03 31 10 11 12

2023-03--31
10:11:12

In [48]:
year, month, day, hour, minute, second = input().split()
hour = (f'{year}-{month}-{day}T{hour}')
print(hour, minute, second, sep=':')

2023-03-31T10:11:12

년, 월, 일, 시, 분, 초를 년-월-일T시:분:초 형식으로 출력해야 합니다. 먼저 시간은 print(hour, minute, second, sep=':')와 같이 이미 출력하고 있습니다. 따라서 날짜만 출력하면 됩니다.
날짜는 년-월-일 형식이므로 print에 year, month, day를 넣고 sep에 '-'를 지정하여 -로 구분해줍니다. 그다음에 날짜와 시간 사이에 'T'가 들어가고 한 줄로 출력될 수 있도록 end에 'T'를 지정합니다.